/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.construction{
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img{
  display: block;
}

.text{
  font-size: 1.5rem;
}
